@model IEnumerable<InventoryProject.Data.IngredientModel>

@{
    ViewBag.Title = "IngredientList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ingredientListView">
    <h2 class="pageHeader">Ingredient List</h2>

    <p>
        @Html.ActionLink("Create New", "CreateIngredient", null, new { @class = "createNewButton" })
    </p>

    <table class="table tableOverride">
        <tr>
            <th class="tableSmallHide">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="tableSmallHide">
                @Html.DisplayNameFor(model => model.Amount)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="ingredientNameLinks">
                    @Html.ActionLink(item.Name, "IngredientDetails", new { id = item.ID });
                </td>
                <td class="tableSmallHide">
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td id="editDeleteLinks">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </table>
</div>

<div class="backToInventoryButton">
    <p>
        @Html.ActionLink("Back to Inventory", "Index")
    </p>
</div>