@model InventoryProject.Data.RecipeModel

@{
    ViewBag.Title = "RecipeDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RecipeDetails</h2>

<div>
    <h4>RecipeModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameOfRecipe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfRecipe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListOfDirections)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListOfDirections)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditHistory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditHistory)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
