@model IEnumerable<InventoryProject.Data.RecipeModel>

@{
    ViewBag.Title = "RecipeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <div id="recipeListView">
    <h2 class="pageHeader">RecipeList</h2>

    <p>
        @Html.ActionLink("Create New", "CreateRecipe", null, new { @class = "createNewButton" })
    </p>
    <div>
        <table class="table tableOverride">
            <tr>
                <th class="tableSmallHide">
                    @Html.DisplayNameFor(model => model.NameOfRecipe)
                </th>
                <th class="tableSmallHide">
                    @Html.DisplayNameFor(model => model.ListOfDirections)
                </th>
                <th class="tableSmallHide">
                    @Html.DisplayNameFor(model => model.EditHistory)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="ingredientNameLinks">
                        @Html.ActionLink(item.NameOfRecipe, "RecipeDetails", new { id = item.ID });
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.ListOfDirections)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EditHistory)
                        </td>*@
                    <td id="editDeleteLinks">
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<div class="backToInventoryButton">
    <p>
        @Html.ActionLink("Back to Inventory", "Index")
    </p>
</div>